@model InventoryManager.ViewModel.LoginData
@{
    ViewBag.Title = "Login";

    Layout = "../Shared/_FormLogin.cshtml";
}


@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="login">
        <div class="form-group">
            @Html.TextBoxFor(l => l.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Username" })
            @Html.ValidationMessage("Username", "", new { @class = "text-danger", @rows = "6" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(l => l.Password, htmlAttributes: new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessage("Password", "", new { @class = "text-danger", @rows = "6" })
        </div>
        <div class="controls">
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </div>
    </div>
}