@model InventoryManager.ViewModel.ContactData
@{
    ViewBag.Title = "Edit Contact";
    ViewBag.Submit = "Save Contact";

    Layout = "../Shared/_FormLayout.cshtml";

}

@section PageHead{
    <h2>@ViewBag.Title</h2>
}

@section MenuControls {
    <a href="@Model.ReferrerUrl" class="btn btn-default">
        <i class="fa fa-undo"></i> Cancel
    </a>
    <button type="button" onclick="javascript: document.getElementById('form-add').submit();" class="btn btn-primary">
        <i class="fa fa-plus"></i> @ViewBag.Submit
    </button>
}

<div class="container-fluid">

    @using (Html.BeginForm("Add", "Contact", FormMethod.Post, htmlAttributes: new { @id = "form-add" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(l => l.CustomerId)

        Html.RenderPartial("__form_add_contact");

    }
    
</div>