@model InventoryManager.ViewModel.CustomerData
    

<div class="section">
    <div class="section-header">
        <h3>Customer Contact</h3>
        <div class="section-controls">
            <a href="@Url.Action("Add", "Contact", new { CustomerId = Model.Id})">
                <i class="fa fa-plus"></i> Add New
            </a>
        </div>
    </div>
    <div class="separator"></div>
</div>

<div class="list">
    @if (Model.Contacts.Count > 0) { 
        <table class="table table-striped table-hover">
            <thead class="">
            <tr>
                <th>Customer name</th>
                <th>Phone</th>
                <th>Email</th>
                <th class="text-right">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var contact in Model.Contacts)
            {
                <tr>
                    <td>
                        <a href="#">
                            <i class="fa fa-user"></i> @contact.FirstName @contact.LastName
                        </a>
                    </td>
                    <td>
                        @contact.Phone
                    </td>
                    <td><a href="mailto:@contact.Email">@contact.Email</a></td>
                    <td class="text-right">
                        <a href="@Url.Action("Edit", "Contact", new {Id = @contact.Id})" class="mini-btn">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Contact", new {Id = @contact.Id})" class="mini-btn">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            No Locations for this Customer
        </div>
    }
</div>