@model InventoryManager.ViewModel.CustomerData
    
<div class="page-head">
    <div class="row">
        <div class="col-sm-6">
            <h3>Customer Locations</h3>
        </div>
        <div class="col-sm-6">
            <div class="controls">
                <a class="btn btn-primary" href="@Url.Action("Add", "Location", new { CustomerId = Model.Id})">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="clearfix">
    @foreach (var location in Model.Locations)
    {
        <div class="col-sm-3">
            <address>
                @location.Street<br/>
                @if (location.Unit != null)
                {
                    @location.Unit<br/>
                }
                @location.City, @location.State @location.Zip
            </address>
            <div class="phone">
                <span class="glyphicon glyphicon-phone-alt"></span> @location.Phone
            </div>
            <div class="fax">
                <span class="glyphicon glyphicon-phone-alt"></span> @location.Fax
            </div>
        
            <div class="controls">
                <a href="@Url.Action("Edit", "Location", new {Id = location.Id})">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
        </div>
    }
</div>
