@model InventoryManager.ViewModel.LocationData
@{
    ViewBag.Title = "Edit Location";
    ViewBag.Submit = "Save Location";

    Layout = "../Shared/_FormLayout.cshtml";

}


@section PageHead{
    <h2>@ViewBag.Title</h2>
}

@section MenuControls {
    <a href="@Model.ReferrerUrl" class="btn btn-default">
        <i class="fa fa-undo"></i> Cancel
    </a>
    <button type="button" onclick="javascript: document.getElementById('form-edit').submit();" class="btn btn-primary">
        <i class="fa  fa-floppy-o"></i> @ViewBag.Submit
    </button>
}


<div class="container-fluid">

    @using (Html.BeginForm("Edit", "Location", FormMethod.Post, htmlAttributes: new { @id = "form-edit" }))
    {
        @Html.AntiForgeryToken()
        
        @Html.HiddenFor(l => l.CustomerId)

        @Html.HiddenFor(l => l.Id)

        Html.RenderPartial("__form_add_location");

    }
    
</div>