<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>@ViewData["Title"] - InventoryManager</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/app.styles.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Content/app.bundle.js"></script>
</head>
<body>

    @{ Html.RenderPartial("_header");}

    <div class="container content">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["AlertMessage"]
            </div>
        }
        
        <div class="page-head row">
            <div class="page-name col-sm-6">
                @RenderSection("PageHead", false)
            </div>

            <div class="controls col-sm-6">
                <div class="menu">
                    @RenderSection("MenuControls", false)
                </div>
            </div>
        </div>
        
        <div class="separator"></div>
        
        <div class="data">
            @RenderBody()
        </div>

    </div>
    <hr />

    @{ Html.RenderPartial("_footer");}

    <environment names="Development">
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    </environment>


    @RenderSection("scripts", required: false)
</body>
</html>
