@model InventoryManager.ViewModel.CustomerData
@{
    ViewBag.Title = "Edit Contact";
    ViewBag.Submit = "Save Contact";

    Layout = "../Shared/_FormLayout.cshtml";

}

@section FormControls {
    <a href="@Model.ReferrerUrl" class="btn btn-default">Go Back</a>
    <button type="button" onclick="javascript: document.getElementById('form-edit').submit();" class="btn btn-primary">@ViewBag.Submit</button>
}

<div class="container-fluid">

    @using (Html.BeginForm("Save", "Owner", FormMethod.Post, htmlAttributes: new { @id = "form-edit" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(c => c.Customer.Id)
        @Html.HiddenFor(c => c.Customer.Owner.Id)

        @Html.Partial("__form_add_customer")
    }
    
    @Html.Partial("__form_locations")
</div>
