
@using InventoryManager.Models
@using PagedList.Mvc
@model InventoryManager.ViewModel.MakerTableView
@{
    ViewBag.Title = "Makers";
    Layout = "../Shared/_FormLayout.cshtml";
}


<div class="container">
    <div class="panel">
        <div class="panel-header"><div class="panel-heading"><h3>Add Inventory</h3></div></div>
        <div class="panel-body">
            <a href="@Url.Action("Add", "Hardware")">
                <i class="fa fa-plus"></i> Add Hardware
            </a>
            <a href="@Url.Action("Add", "Software")">
                <i class="fa fa-plus"></i> Add Software
            </a>
        </div>
    </div>

    @if (User.IsInRole(ApplicationUser.ADMIN) || User.IsInRole(ApplicationUser.MANAGER))
    {
        <div class="panel">
            <div class="panel-header"><div class="panel-heading"><h3>Employees</h3></div></div>
            <div class="panel-body">
                <a href="@Url.Action("Index", "Employee")"> 
                    <i class="fa fa-eye"></i> View Employees
                </a>
            </div>
        </div>
    }

    @if (User.IsInRole(ApplicationUser.ADMIN) || User.IsInRole(ApplicationUser.CUSTOMER_MANAGER))
    {
        <div class="panel">
            <div class="panel-header"><div class="panel-heading"><h3>Customers</h3></div></div>
            <div class="panel-body">
                <a href="@Url.Action("Add", "Customer")">
                    <i class="fa fa-plus"></i> Add Customer
                </a>
                <a href="@Url.Action("Index", "Customer")">
                    <i class="fa fa-eye"></i> View Customers
                </a>
            </div>
        </div>
    }

    @if (User.IsInRole(ApplicationUser.ADMIN) || User.IsInRole(ApplicationUser.AUDITOR))
    {

        <div class="panel">
            <div class="panel-header"><div class="panel-heading"><h3>Customers</h3></div></div>
            <div class="panel-body">
                <a href="@Url.Action("Index", "Report")">
                    <i class="fa fa-plus"></i> Generate Reports
                </a>
            </div>
        </div>
    }
</div>