@using InventoryManager.Models
@model InventoryManager.ViewModel.HardwareData

@*Form Body Start*@       
<div class="form">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                @Html.LabelFor(h => h.Name, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.Name, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.Name, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(h => h.Description, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextAreaFor(h => h.Description, htmlAttributes: new {@class = "form-control", @rows = "6"})
                        @Html.ValidationMessageFor(h => h.Description, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="row">
                @Html.LabelFor(h => h.MakerId, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        <div class="input-group">
                            @Html.DropDownListFor(h => h.MakerId,
                                new SelectList(Model.Makers, "Id", "Name", Model.MakerId),
                                htmlAttributes: new {@class = "form-control"})
                            <div class="input-group-btn">
                                <button name="add-new" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> New</button>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(h => h.MakerId, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(h => h.ModelName, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.ModelName, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.ModelName, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(h => h.ModelNo, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.ModelNo, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.ModelNo, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(h => h.ModelYear, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.ModelYear, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.ModelYear, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="h2">Purchase Information</div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                @Html.LabelFor(h => h.PurchasePrice, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.PurchasePrice, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.PurchasePrice, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(h => h.PurchaseDate, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.PurchaseDate, htmlAttributes: new {@class = "form-control datetime"})
                        @Html.ValidationMessageFor(h => h.PurchaseDate, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                @Html.LabelFor(h => h.VendorId, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.DropDownListFor(h => h.VendorId,
                            new SelectList(Model.Vendors, "Id", "Name", Model.VendorId),
                            htmlAttributes: new {@class = "form-control"})

                        @Html.ValidationMessageFor(h => h.VendorId, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <h2>Hardware Infomation</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                @Html.LabelFor(h => h.HardwareTypeId, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.DropDownListFor(h => h.HardwareTypeId,
                            new SelectList(Model.HardwareTypes, "Id", "Name", Model.HardwareTypeId),
                            htmlAttributes: new {@class = "form-control"})

                        @Html.ValidationMessageFor(h => h.HardwareTypeId, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(h => h.SerialNo, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.SerialNo, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.SerialNo, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                @Html.LabelFor(h => h.WarrentyExpiration, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.TextBoxFor(h => h.WarrentyExpiration, htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.WarrentyExpiration, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <h2>Status Infomation</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                @Html.LabelFor(h => h.Status, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.EnumDropDownListFor(h => h.Status,
                            htmlAttributes: new {@class = "form-control"})
                        @Html.ValidationMessageFor(h => h.Status, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                @Html.LabelFor(h => h.OwnerId, htmlAttributes: new {@class = "col-sm-3"})
                <div class="col-sm-9">
                    <div class="form-group">
                        @Html.DropDownListFor(h => h.OwnerId,
                            new SelectList(Model.Owners, "Id", "Name", Model.VendorId),
                            htmlAttributes: new {@class = "form-control"})

                        @Html.ValidationMessageFor(h => h.OwnerId, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
