@model InventoryManager.ViewModel.HardwareData
@{
    ViewBag.Title = "Edit Inventory";
    ViewBag.Submit = "Save Inventory";

    Layout = "../Shared/_FormLayout.cshtml";

}

@section FormControls {
    <a href="@Model.ReferrerUrl" class="btn btn-default">Go Back</a>
    <button type="button" onclick="javascript: document.getElementById('form-edit').submit();" class="btn btn-primary">@ViewBag.Submit</button>
}
    
<div class="container-fluid">
    
    @using (Html.BeginForm("Save", "Hardware", FormMethod.Post, htmlAttributes: new {@id = "form-edit"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(h => h.Hardware.HardwareId)
        @Html.HiddenFor(h => h.Hardware.Inventory.Id)

        @Html.Partial("__form_add_hardware")
    }
</div>

