@model InventoryManager.ViewModel.HardwareList
@{
    ViewBag.Title = "Hardware";
    Layout = "../Shared/_FormLayout.cshtml";
}

@section PageHead{
    <h2>@ViewBag.Title</h2>
}

@section MenuControls
{
    <ul>
        <li><a href="@Url.Action("Add", "Hardware")"><i class="fa fa-plus"></i> Add Hardware</a></li>
    </ul>
}
<div class="list">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Hardware Name</th>
            <th>Hardware Maker</th>
            <th>Purchase Date</th>
            <th class="text-center">Status</th>
            <th class="text-right">Action</th>
        </tr>
        </thead>

        @foreach (var hardware in Model.Hardwares)
        {
            <tr class="">
                <td>@hardware.Inventory.Name</td>
                <td>@hardware.Inventory.Maker.Name</td>
                <td>@hardware.Inventory.PurchaseDate</td>
                <td class="text-center"><span class="label label-@hardware.Inventory.Status">@hardware.Inventory.Status</span></td>
                <td class="text-right">
                    <a href="@Url.Action("Show", "Hardware", new {Id = hardware.Id})"  class="mini-btn">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="@Url.Action("Edit", "Hardware", new {Id = hardware.Id})" class="mini-btn">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Hardware", new {Id = hardware.Id})" class="mini-btn">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

</div>